<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
    <title>Taris Technologies</title>
    <meta name="description" content="">	
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Favicons
	================================================== -->
	<link rel="icon" href="img/favicon/favicon-32x32.png" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/favicon-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/favicon-72x72.png">
	<link rel="apple-touch-icon-precomposed" href="img/favicon/favicon-54x54.png">
	
	<!-- CSS
	================================================== -->
	<%=stylesheet_link_tag "bootstrap.min.css"%>
	<%=stylesheet_link_tag "styletaris.css"%>
	<%=stylesheet_link_tag "animate.css"%>
	<%=stylesheet_link_tag "prettyPhoto.css"%>
	<%=stylesheet_link_tag "owl.carousel.css"%>
	<%=stylesheet_link_tag "jquery.bxslider.css"%>



	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
	
<body style = "background-color:rgba(28,28,28,1)">
	<div class="body-inner">
	<!-- Header start -->
	<header id="header" class="navbar-fixed-top main-nav" role="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!--/ Top info start -->
					<div class="top-info">
						<ul class="pull-right">
							<li><i class="fa fa-envelope"></i> hello@taristech.com</li>
							<!-- Social links -->
							<li class="social-icon">
								<a id="tooltip1" data-toggle="tooltip" data-placement="top" title="Twitter"  href="#">
									<i class="fa fa-twitter"></i>
								</a>
								<a id="tooltip2" data-toggle="tooltip" data-placement="top" title="Facebook" href="#">
									<i class="fa fa-facebook"></i>
								</a>
								<a id="tooltip3" href="#" data-toggle="tooltip" data-placement="top" title="Google+">
									<i class="fa fa-google-plus"></i>
								</a>
								
							</li><!-- Social links end-->
						</ul>
					</div><!--/ Top info end -->

					<!-- Logo start -->
					<div class="navbar-header">
					    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					    </button>
					    <!-- <a class="navbar-brand" href="/">
					    	<%= image_tag("TarisLogo.png", alt: "Woops! Image didn't load", class:"img-responsive")%>
					    </a>         -->            
					</div><!--/ Logo end -->

			
					
					
				</div><!--/ Col end -->
			</div><!--/ Row end -->
		</div><!--/ Container end -->
	</header><!--/ Header end -->
	
	<div class="gap-200"></div>

	<!-- Slider start -->
	
		<!-- Carousel -->
    	<div id="main-slide" class="carousel slide" data-ride="carousel">


			<!-- Carousel inner -->
			<div class="carousel-inner">
			    <div class="item active">

 						<%= image_tag("tarisbg.png", alt: "Woops! Image didn't load", class:"img-responsive")%>
 						<div class="slider-content">
                        <div class="col-md-12 text-center">
                    		<h2 class="animated2">
                    			<span><strong>Taris</strong> Technologies</span>
                        	</h2>
                            <h3 class="animated3">
                            	<span>Open Source Ad Tech</span>
                            </h3>
                            <br>

                            <h4 >
                            	<span>Taris is an open source project aimed at helping ad tech developers create simple, efficient, and effective BLE marketing solutions. We work to provide the groundwork for such solutions, enabling firms to focus on
innovation and personalization, opposed to underyling communications. Taris' platform contains a unique method to register BLE devices, allowing developers to leverage tags to target large groups of BLE devices at once.
Target consumers based on their microlocation, their real-time actions, or their demographics. Taris is released under the MIT license, giving developers free reign to not only innovate, but monetize.</span>
                            </h4>

                            <a href="http://docs.tarisadsapi.apiary.io"><button type="submit" class="btn btn-primary btn-lg">Documentation</button></a>
                            <a href="http://www.github.com/jarvis11/taris_source"><button type="submit" class="btn btn-primary btn-lg">Source</button></a>
<!--                             <p class="animated4"><a href="#" class="slider btn btn-primary">Check Now</a></p>
 -->                        </div>
                    </div>
			    </div><!--/ Carousel item end -->
			    
			</div><!-- Carousel inner end-->

			
		</div><!-- /carousel -->    	
   
    <!--/ Slider end -->


   <!--  -->


	</section>

		</div>
</body>
	<!-- Footer section end -->

	<!-- Javascript Files
	================================================== -->
	<!-- initialize jQuery Library -->
	<!--<script type="text/javascript" src="js/jquery.js"></script>-->
	<!-- Bootstrap jQuery -->
	<!--<script type="text/javascript" src="js/bootstrap.min.js"></script>-->
	<!-- Owl Carousel -->
	<!--<script type="text/javascript" src="js/owl.carousel.js"></script>-->
	<!-- PrettyPhoto -->
	<!--<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>-->
	<!-- Bxslider -->
	<!--<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>-->
	<!-- Isotope -->
	<!--<script type="text/javascript" src="js/jquery.isotope.min.js"></script>-->
	<!-- Wow Animation -->
	<!--<script type="text/javascript" src="js/wow.min.js"></script>-->
	<!-- SmoothScroll -->
	<!--<script type="text/javascript" src="js/smoothscroll.js"></script>-->
	<!-- Animated Pie -->
	<!--<script type="text/javascript" src="js/jquery.easy-pie-chart.js"></script>-->


	<!-- Template custom -->
	<!--<script type="text/javascript" src="js/custom.js"></script>-->

<!--
	<%=javascript_include_tag "jquery.js"%>
	<%=javascript_include_tag "bootstrap.min.js"%>
	<%=javascript_include_tag "owl.carousel.js"%>
	<%=javascript_include_tag "jquery.prettyPhoto.js"%>
	<%=javascript_include_tag "bxslider.min.js"%>
	<%=javascript_include_tag "jquery.isotope.min.js"%>
	<%=javascript_include_tag "wow.min.js"%>
	<%=javascript_include_tag "smoothscroll.js"%>						
	<%=javascript_include_tag "jquery.easy-pie-chart.js"%>
	<%=javascript_include_tag "custom.js"%>		 -->
	

</html>

